:root {
    --background-color: #E2E8F0;
    --card-profile-color: #FFFFFF;
    --text-secondary: #64748B;
    --contact-background-color: #00A3A3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--background-color); 
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    overflow: scroll;
    height: 100vh;
}

/* About me */
.profile-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    min-height: 100vh;
    align-items: center;
    background: linear-gradient(to bottom right, var(--contact-background-color) 0%, var(--background-color) 100%);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.photo-profile {
    position: relative;
    display: inline-block;
    justify-items: end;
    margin-right: -5px;
}

.photo-profile img {
    display: block;
    width: 80%;
    height: 80%;
    box-shadow: 2px 6px 6px 6px rgba(0, 0, 0, 0.1);
}

.name {
  position: absolute;
  bottom: 0;
  color: white;
  padding: 5px 10px;
  text-align: center;
  font-size: 5rem;
  font-family: 'Playfair Display', serif;
}

.card-profile {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    background-color: var(--card-profile-color);
    padding: 20px 40px;
    overflow: hidden;
    width: 80%;
    height: 450px;
}

.about-me-content {
    padding-top: 20px;
}

.about-me-content h2 {
    font-size: 2rem;
}

.about-me-content p {
    margin-top: 20px;
    font-size: 1.6rem;
    color: var(--text-secondary);
}

.social-media-links {
    display: flex;
    justify-content: end;
}

.social-media-links img {
    width: 30px;
    height: 30px;
    margin-right: 25px;
}

.social-media-links img:last-child {
    margin-right: 0px;
}

.social-media-links img:hover {
    cursor: pointer;
}

/* Projects */
.project-content {
    padding: 40px;
    min-height: 100vh;
}

.project-content h2 {
    font-size: 2.5rem;
}

.works-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 0;
    margin-top: 20px;
    height: 700px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.screenshot {
    height: 200px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    font-style: italic;
    text-align: center;
    padding: 20px;
}

.red { background-color: #9A2B2E; }
.purple { background-color: #7952B3; }
.green { background-color: #4A7d4A; }
.pink { background-color: #D84381; }
.orange { background-color: #E59441; }
.blue { background-color: #4682B4; }

.card-content {
    padding: 15px;
}

.project-name {
    margin: 0 0 5px 0;
    display: inline-block;
}

.links {
    float: right;
}

.links img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.links img:last-child {
    margin-right: 0px;
}

.links img:hover {
    cursor: pointer;
}

.description {
    margin-top: 15px;
    color: #555;
    clear: both;
}

/* Contact */
.contact-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    align-items: anchor-center;
    padding: 40px;
    min-height: 100vh;
    background-color: var(--contact-background-color);
}

.contact-content h2 {
    font-size: 3.2rem;
}

.contact-content p {
    font-size: 2.2rem;
}

.contact-info {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    padding: 20px 40px;
}

.phone-email-info img {
    width: 40px;
    height: 40px;
}

.phone-content {
    display: flex;
    align-items: center;
    gap: 15px;
}

.email-content {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
}

.links-info img {
    width: 40px;
    height: 40px;
    margin-left: 20px;
}

.links-info img:first-child {
    margin-left: 0px;
}

.links-info img:hover {
    cursor: pointer;
}

.contact-photo {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.contact-photo img {
    width: 80%;
    height: 60%;
}

/* Tablet Responsiveness */

@media screen and (max-width: 992px) {

    /* About me */
    .profile-content {
        grid-template-columns: 1fr;
        min-height: auto; 
        padding: 40px 20px;
    }

    .photo-profile {
        width: 100%; 
        justify-items: center; 
        margin-right: 0; 
        display: flex;
        justify-content: center;
    }
    
    .name {
        font-size: 3rem; 
        left: 50%;
        transform: translateX(-50%); 
    }

    .card-profile {
        width: 100%; 
        height: auto;
        padding: 20px 20px;
        margin-top: 20px;
        box-sizing: border-box;
    }
    
    .about-me-content h2 {
        font-size: 1.8rem;
    }

    .about-me-content p {
        font-size: 1rem;
        margin-top: 15px;
    }

    .social-media-links {
        justify-content: center; 
    }
    
    .social-media-links img {
        width: 25px; 
        height: 25px;
        margin: 0 10px;
    }
    

    /* Projects */
    .project-content {
        min-height: 150vh;
    }

    .works-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        margin: 0;
        margin-top: 20px;
        height: 700px;
    }

    .card {
        overflow: visible;
    }

    /* Contact */
    .contact-content {
        padding: 20px;
        min-height: 70vh;
    }

    .contact-info {
        gap: 30px;
        padding: 10px 20px;
    }

    .contact-content h2 {
        font-size: 1.5rem;
    }

    .contact-content p {
        font-size: 1rem;
    }

    .phone-email-info img {
        width: 20px;
        height: 20px;
    }

    .links-info img {
        width: 20px;
        height: 20px;
        margin-left: 10px;
    }

    .contact-photo {
        width: 100%;
        height: 80%;
        overflow: hidden;
    }

    .contact-photo img {
        width: 100%;
        height: 80%;
        margin-top: 30px;
    }
    
}

/* Mobile Phone Responsiveness */

@media screen and (max-width: 600px) {

    /* About me */
    .profile-content {
        grid-template-columns: 1fr;
        min-height: 150vh;
    }

    .photo-profile {
        justify-items: center;

        p {
            font-size: 75%;
        }
    }

    .photo-profile img {
        width: 100%;
    }

    .card-profile {
        height: 80%;
        text-align: center;

        h2, p {
            font-size: inherit;
        }
    }

    .about-me {
        height: 100%;
        justify-items: center;
    }

    .social-media-links {
        justify-content: center;
    }

    /* Projects */
    .project-content {
        min-height: 280vh;
    }

    .project-content h2 {
        text-align: center;
        font-size: 2.5rem;
    }

    .works-content {
        grid-template-columns: 1fr;
    }

    /* Contact */
    .contact-content {
        grid-template-columns: 1fr;
        padding: 10px;
        min-height: 60vh;
    }

    .contact-info {
        gap: 20px;
        text-align: center;
        justify-items: center;
    }

    .contact-content h2 {
        font-size: 1.3rem;
    }

    .contact-content p {
        font-size: 0.9rem;
    }

    .phone-email-info {
        justify-items: center;
    }

    .contact-photo {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .contact-photo img {
        width: 100%;
        height: 100%;
    }
}